@model IEnumerable<Continent>
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService

@{
  ViewData["Title"] = "Continents";

  var requirements =new RestrictToContinentRequirement[] { new RestrictToContinentRequirement() };
}

<h2>Continents</h2>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Area</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var continent in Model)
    {
      <tr>
        <td>@continent.Name</td>
        <td>@continent.Area</td>
        <td>
          @{
            var authResult = await AuthorizationService.AuthorizeAsync(User, continent, requirements);
            if (authResult.Succeeded)
            {
              <a asp-action="countries" asp-route-continentId="@continent.Id">Countries</a>
            }
          }
        </td>
      </tr>
    }
  </tbody>
</table>
